{% extends 'nav.html' %}

{% block content %}
<h1>About me  </h1>
<p> Hello! My name is Mohamad Naseer. I'm a BCA major residing in Puducherry.<br><br>

    I am passionate about the different languages that the currently growing technology is offering ,the diversity of the work that I do ensures that no day is like any other, and I am always focused on bettering. I am proficient in HTML,CSS and JavaScript but am open to exploring other technologies also. My belief to do what I love is what led me to this path. I love solving problems, making something great, making something meaningful. <br><br>
    
    But while these opportunities and experiences may seem impressive, I still have countless things to learn. I had originally acquired my knowledge of web development and basic programming by self-teaching, and I was finally able to apply this knowledge in a real-world environment. I also have many other interests outside the languages of HTML, CSS, Javascript,etc., including Python, C++, and data analysis, just to name a few.
    
    Now that's enough about me.<br><br> 
    
    As long as I can remember , my meta-goal is to create humanly inclusive experiences within digital environments. And this has been my journey around it.</p>

    {% endblock %}